#misteryDoor, #readPergamena {
    width: 160;
    height: 160;
    transform: translateY(160);
    opacity: 0;
    justify-content: center;
    align-items: center;
}
.md-door-btn {
    transform-style: preserve-3d;
    position: relative;
}
.md-door-btn:before {
    pointer-events: none;
    position: absolute;
    z-index: -1;
    content: '';
    bottom: -5px;
    left: 5%;
    height: 10px;
    width: 90%;
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
    transition-duration: 0.3s;
    transition-property: transform, opacity;
}

@keyframes orbit1 { 
    0% {transform: rotate(0deg);}
    50% {transform: rotate(45deg);}
    100% {transform: rotate(90deg);}
}
  
@keyframes orbit2 { 
    0% {transform: rotate(0deg);}
    50% {transform: rotate(-45deg);}
    100% {transform: rotate(-90deg);}
}

@keyframes child-orbit1 { 
    0% {transform: rotate(90deg);}
    100% {transform: rotate(0deg);}
}

@keyframes child-orbit2 { 
    0% {transform: rotate(0deg);}
    100% {transform: rotate(90deg);}
}